n8n-workflows/published/01 - Client Inquiry AI Agent.json
{
  "name": "01 - Client Inquiry AI Agent",
  "nodes": [
    {
      "parameters": {
        "path": "client-inquiry",
        "options": {
          "rawBody": true
        }
      },
      "id": "9b83cc70-3480-4152-af1b-9928a93d8673",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [528, -704],
      "webhookId": "client-inquiry"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $input.first().json;\n\nconst rawMessage = input.body || input.message || input.text || input.content || '';\nconst senderName = input.sender_name || input.name || input.from || 'Unknown';\nconst senderContact = input.sender_contact || input.phone || input.email || '';\nconst channel = input.channel || input.source || 'whatsapp';\n\n// Generate quote number: PW-YYYYMMDD-XXXX\nconst now = new Date();\nconst dateStr = now.getFullYear()\n  + String(now.getMonth() + 1).padStart(2, '0')\n  + String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(Math.random() * 9000) + 1000);\nconst quoteNo = 'PW-' + dateStr + '-' + rand;\n\nconst promptText = `You are a smart quoting assistant for a printing/packaging company. Extract quotation details from this client inquiry. Return ONLY valid JSON with NO markdown formatting or code blocks.\n\n{\n  \"customer_name\": \"full name\",\n  \"customer_email\": \"email if found\",\n  \"customer_phone\": \"phone number\",\n  \"customer_address\": \"address if found\",\n  \"items\": [{\"item_title\": \"service name\", \"description\": \"details\", \"qty\": 1, \"unit_price\": 0}],\n  \"notes\": \"any special requests\",\n  \"type\": \"Quote\"\n}\n\nIf any field is missing, use \"\" or [] or 0. Do NOT guess prices.\n\nInquiry: ${rawMessage}\nFrom: ${senderName} (${senderContact})`;\n\nreturn [{\n  raw_message: rawMessage,\n  sender_name: senderName,\n  sender_contact: senderContact,\n  channel: channel,\n  quote_no: quoteNo,\n  issue_date: now.toISOString().slice(0, 10),\n  type: 'Quote',\n  status: 'Draft',\n  gemini_payload: {\n    contents: [{ role: 'user', parts: [{ text: promptText }] }]\n  }\n}];"
      },
      "id": "8d96fa1c-647c-4560-abb0-19fa87c83223",
      "name": "Parse & Format Inquiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [736, -704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-goog-api-key", "value": "={{ $credentials.geminiApiKey }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_payload }}",
        "options": { "timeout": 30000 }
      },
      "id": "e6ae5b16-de1f-4340-9861-8f246b6cc5f3",
      "name": "Gemini - Extract Quote Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, -704]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nconst clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    customer_name: '',\n    customer_email: '',\n    customer_phone: '',\n    customer_address: '',\n    items: [],\n    notes: '',\n    type: 'Quote'\n  };\n}\n\n// Calculate totals\nconst items = parsed.items || [];\nconst subtotal = items.reduce((sum, it) => sum + (it.qty || 0) * (it.unit_price || 0), 0);\nconst grand_total = subtotal;\n\nreturn [{\n  ...$json,\n  customer_name: parsed.customer_name || '',\n  customer_email: parsed.customer_email || '',\n  customer_phone: parsed.customer_phone || '',\n  customer_address: parsed.customer_address || '',\n  items: items,\n  notes: parsed.notes || '',\n  type: parsed.type || 'Quote',\n  subtotal: subtotal,\n  grand_total: grand_total\n}];"
      },
      "id": "71379a43-82e0-47c8-9cac-b6af87fd3c29",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, -704]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/customers?email=eq.{{ $json.customer_email }}&select=id,name,email,phone,address",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $credentials.supabaseApiKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseApiKey }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "eb73863d-dc09-4f25-b82d-ca891af9d8e2",
      "name": "Supabase - Find Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1392, -704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/customers?on_conflict=email",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $credentials.supabaseApiKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseApiKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-failed" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $json.customer_name }}" },
            { "name": "email", "value": "={{ $json.customer_email }}" },
            { "name": "phone", "value": "={{ $json.customer_phone }}" },
            { "name": "address", "value": "={{ $json.customer_address }}" }
          ]
        },
        "options": {}
      },
      "id": "32487471-e64e-4009-bcc7-1855b1090cb7",
      "name": "Supabase - Upsert Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1600, -704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/quotations",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $credentials.supabaseApiKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseApiKey }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "quote_no", "value": "={{ $json.quote_no }}" },
            { "name": "customer_id", "value": "={{ $node['Supabase - Upsert Customer'].json[0]?.id || $node['Supabase - Find Customer'].json[0]?.id }}" },
            { "name": "issue_date", "value": "={{ $json.issue_date }}" },
            { "name": "type", "value": "={{ $json.type }}" },
            { "name": "status", "value": "={{ $json.status }}" },
            { "name": "subtotal", "value": "={{ $json.subtotal }}" },
            { "name": "grand_total", "value": "={{ $json.grand_total }}" },
            { "name": "notes", "value": "={{ $json.notes }}" }
          ]
        },
        "options": {}
      },
      "id": "a2fbe3a8-dcc6-4058-a38c-d854258841ef",
      "name": "Supabase - Create Quotation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1824, -704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/quotation_items",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $credentials.supabaseApiKey }}" },
            { "name": "Authorization", "value": "=Bearer {{ $credentials.supabaseApiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.items.map(item => ({ quotation_id: $node['Supabase - Create Quotation'].json[0]?.id, item_title: item.item_title, description: item.description, quantity: item.qty, unit_price: item.unit_price, line_total: item.qty * item.unit_price })) }}",
        "options": {}
      },
      "id": "62cb2154-595b-4880-9464-6b223eb78222",
      "name": "Supabase - Create Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2032, -512]
    },
    {
      "parameters": {
        "fromEmail": "billing@pixelwave.lk",
        "toEmail": "={{ $node['Parse Gemini Response'].json.customer_email }}",
        "subject": "=New Quote Created: {{ $node['Parse Gemini Response'].json.quote_no }}",
        "text": "=Hi {{ $node['Parse Gemini Response'].json.customer_name }},\n\nWe've created a quotation based on your inquiry.\n\nQuote No: {{ $node['Parse Gemini Response'].json.quote_no }}\nAmount: LKR {{ $node['Parse Gemini Response'].json.grand_total.toLocaleString() }}\n\nView your quote: https://smartquote.pixelwave.lk/secure/{{ $node['Parse Gemini Response'].json.quote_no }}\n\nBest regards,\nPixelWave Team",
        "options": {}
      },
      "id": "2ba75536-3c72-49c5-aacc-1cef488c33d1",
      "name": "Send Email Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [2160, -704],
      "credentials": {
        "smtp": { "id": "kNPRrkpEaeqSxFHh", "name": "SMTP account 2" }
      }
    },
    {
      "parameters": {
        "queue": "quotes_pending_review",
        "options": {}
      },
      "id": "fe9b04df-3497-4543-a296-dd9dbb51a9a0",
      "name": "Queue for Review (RabbitMQ)",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [2256, -512],
      "credentials": {
        "rabbitmq": { "id": "DbKgCmcaMN0m1kt5", "name": "RabbitMQ account" }
      }
    },
    {
      "parameters": {},
      "id": "c32a1de5-a99d-434c-972e-8f836500f1fe",
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2448, -704]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": { "main": [[ { "node": "Parse & Format Inquiry", "type": "main", "index": 0 } ]] },
    "Parse & Format Inquiry": { "main": [[ { "node": "Gemini - Extract Quote Details", "type": "main", "index": 0 } ]] },
    "Gemini - Extract Quote Details": { "main": [[ { "node": "Parse Gemini Response", "type": "main", "index": 0 } ]] },
    "Parse Gemini Response": { "main": [[ { "node": "Supabase - Find Customer", "type": "main", "index": 0 } ]] },
    "Supabase - Find Customer": { "main": [[ { "node": "Supabase - Upsert Customer", "type": "main", "index": 0 } ]] },
    "Supabase - Upsert Customer": { "main": [[ { "node": "Supabase - Create Quotation", "type": "main", "index": 0 } ]] },
    "Supabase - Create Quotation": {
      "main": [[
        { "node": "Send Email Confirmation", "type": "main", "index": 0 },
        { "node": "Supabase - Create Items", "type": "main", "index": 0 }
      ]]
    },
    "Supabase - Create Items": { "main": [[ { "node": "Queue for Review (RabbitMQ)", "type": "main", "index": 0 } ]] },
    "Send Email Confirmation": { "main": [[ { "node": "Complete", "type": "main", "index": 0 } ]] },
    "Queue for Review (RabbitMQ)": { "main": [[ { "node": "Complete", "type": "main", "index": 0 } ]] }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6405dea2-ed39-45f3-84e3-16c866b9f6fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6adb643dd7d273b3a3c36a8c88a219f6c6362a719fc19640e0a85fd38028bd01"
  },
  "nodeGroups": [],
  "id": "wD22FsrI5XYOjIBv",
  "tags": [
    { "updatedAt": "2026-07-01T05:02:25.487Z", "createdAt": "2026-07-01T05:02:25.487Z", "id": "IpPB6dPB636yalG0", "name": "AI Agent" },
    { "updatedAt": "2026-07-01T05:02:26.164Z", "createdAt": "2026-07-01T05:02:26.164Z", "id": "ld8RBU0L2fonYzMW", "name": "Quotation" },
    { "updatedAt": "2026-07-01T05:02:25.539Z", "createdAt": "2026-07-01T05:02:25.539Z", "id": "NfREv0ZJKg9tlvk7", "name": "WhatsApp" }
  ]
}
