n8n-workflows/manual/01 - Client Inquiry AI Agent (5).json
{
  "name": "01 - Client Inquiry AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-inquiry",
        "options": {
          "rawBody": true
        }
      },
      "id": "bb9e8a6a-3043-4d19-ac71-8b4f87872986",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        192,
        -384
      ],
      "webhookId": "client-inquiry"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst rawMessage = input.body || input.message || input.text || input.content || '';\nconst senderName = input.sender_name || input.name || input.from || 'Unknown';\nconst senderContact = input.sender_contact || input.phone || input.email || '';\nconst channel = input.channel || input.source || 'whatsapp';\n\nconst now = new Date();\nconst dateStr = now.getFullYear()\n  + String(now.getMonth() + 1).padStart(2, '0')\n  + String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(Math.random() * 9000) + 1000);\nconst quoteNo = 'PW-' + dateStr + '-' + rand;\n\nconst promptText = `You are a smart quoting assistant for a printing/packaging company. Extract quotation details from this client inquiry. Return ONLY valid JSON with NO markdown formatting or code blocks.\n\n{\n  \"customer_name\": \"full name\",\n  \"customer_email\": \"email if found\",\n  \"customer_phone\": \"phone number\",\n  \"customer_address\": \"address if found\",\n  \"items\": [{\"item_title\": \"service name\", \"description\": \"details\", \"qty\": 1, \"unit_price\": 0}],\n  \"notes\": \"any special requests\",\n  \"type\": \"Quote\"\n}\n\nIf any field is missing, use \"\" or [] or 0. Do NOT guess prices.\n\nInquiry: ${rawMessage}\nFrom: ${senderName} (${senderContact})`;\n\nreturn [{\n  raw_message: rawMessage,\n  sender_name: senderName,\n  sender_contact: senderContact,\n  channel: channel,\n  quote_no: quoteNo,\n  issue_date: now.toISOString().slice(0, 10),\n  type: 'Quote',\n  status: 'Draft',\n  gemini_payload: {\n    contents: [{ role: 'user', parts: [{ text: promptText }] }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -384
      ],
      "id": "9d186e1c-fc32-4b01-a3f4-f60261c7ce6f",
      "name": "Parse & Format Inquiry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -384
      ],
      "id": "9cbfe915-4077-49e0-a2e5-ecfcb397feb8",
      "name": "Gemini - Extract Quote Details",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "klQsrETMfRepBxr8",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\nconst clean = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch(e) {\n  parsed = {\n    customer_name: '', customer_email: '', customer_phone: '',\n    customer_address: '', items: [], notes: '', type: 'Quote'\n  };\n}\n\nconst items = parsed.items || [];\nconst subtotal = items.reduce((sum, it) => sum + (it.qty || 0) * (it.unit_price || 0), 0);\nconst grand_total = subtotal;\n\nreturn [{\n  ...$json,\n  customer_name: parsed.customer_name || '',\n  customer_email: parsed.customer_email || '',\n  customer_phone: parsed.customer_phone || '',\n  customer_address: parsed.customer_address || '',\n  items: items,\n  notes: parsed.notes || '',\n  type: parsed.type || 'Quote',\n  subtotal: subtotal,\n  grand_total: grand_total\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -384
      ],
      "id": "9f3e0d9b-4141-48dd-8f53-a9e46f28ec95",
      "name": "Parse Gemini Response"
    },
    {
      "parameters": {
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/customers?email=eq.{{ $json.customer_email }}&select=id,name,email,phone,address",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1088,
        -384
      ],
      "id": "20dad98f-3769-43d8-8713-08cc038e0ad5",
      "name": "Supabase - Find Customer",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "9QxPPMdRvYGXiJnm",
          "name": "Custom Auth Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/customers?on_conflict=email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-failed"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $node['Parse Gemini Response'].json.customer_name }}"
            },
            {
              "name": "email",
              "value": "={{ $node['Parse Gemini Response'].json.customer_email }}"
            },
            {
              "name": "phone",
              "value": "={{ $node['Parse Gemini Response'].json.customer_phone }}"
            },
            {
              "name": "address",
              "value": "={{ $node['Parse Gemini Response'].json.customer_address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -384
      ],
      "id": "79c35543-9d23-4a74-8c4a-23742f63e1a2",
      "name": "Supabase - Upsert Customer",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "9QxPPMdRvYGXiJnm",
          "name": "Custom Auth Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/quotations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "quote_no",
              "value": "={{ $node['Parse Gemini Response'].json.quote_no }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $node['Supabase - Upsert Customer'].json[0]?.id || $node['Supabase - Find Customer'].json[0]?.id }}"
            },
            {
              "name": "issue_date",
              "value": "={{ $node['Parse Gemini Response'].json.issue_date }}"
            },
            {
              "name": "type",
              "value": "={{ $node['Parse Gemini Response'].json.type }}"
            },
            {
              "name": "status",
              "value": "={{ $node['Parse Gemini Response'].json.status }}"
            },
            {
              "name": "subtotal",
              "value": "={{ $node['Parse Gemini Response'].json.subtotal }}"
            },
            {
              "name": "grand_total",
              "value": "={{ $node['Parse Gemini Response'].json.grand_total }}"
            },
            {
              "name": "notes",
              "value": "={{ $node['Parse Gemini Response'].json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1536,
        -384
      ],
      "id": "1226a871-f3d4-4526-a424-ebd457bd03ef",
      "name": "Supabase - Create Quotation",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "9QxPPMdRvYGXiJnm",
          "name": "Custom Auth Supabase API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.supabaseUrl }}/rest/v1/quotation_items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node['Parse Gemini Response'].json.items.map(item => ({\n  quotation_id: $node['Supabase - Create Quotation'].json[0]?.id,\n  item_title: item.item_title,\n  description: item.description,\n  quantity: item.qty,\n  unit_price: item.unit_price,\n  line_total: item.qty * item.unit_price\n})) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        -384
      ],
      "id": "f774a7c3-dae8-4057-aa2c-f7751218c753",
      "name": "Supabase - Create Items",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "9QxPPMdRvYGXiJnm",
          "name": "Custom Auth Supabase API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "billing@pixelwave.lk",
        "toEmail": "={{ $node['Parse Gemini Response'].json.customer_email }}",
        "subject": "=New Quote Created: {{ $node['Parse Gemini Response'].json.quote_no }}",
        "emailFormat": "text",
        "text": "=Hi {{ $node['Parse Gemini Response'].json.customer_name }},\n\nWe've created a quotation based on your inquiry.\n\nQuote No: {{ $node['Parse Gemini Response'].json.quote_no }}\nAmount: LKR {{ $node['Parse Gemini Response'].json.grand_total.toLocaleString() }}\n\nView your quote: https://smartquote.pixelwave.lk/secure/{{ $node['Parse Gemini Response'].json.quote_no }}\n\nBest regards,\nPixelWave Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1984,
        -384
      ],
      "id": "2cd882e6-0848-4480-901f-442e7fb8cfe7",
      "name": "Send Email Confirmation",
      "webhookId": "218c47e3-6210-40f2-9df9-7faa00cb8e71",
      "credentials": {
        "smtp": {
          "id": "kNPRrkpEaeqSxFHh",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "queue": "quotes_pending_review",
        "options": {
          "durable": true
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        2208,
        -384
      ],
      "id": "c746012e-23f8-4433-b3dd-c0ec8ca18074",
      "name": "Queue for Review (RabbitMQ)",
      "credentials": {
        "rabbitmq": {
          "id": "DbKgCmcaMN0m1kt5",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse & Format Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Inquiry": {
      "main": [
        [
          {
            "node": "Gemini - Extract Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Extract Quote Details": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Supabase - Find Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Find Customer": {
      "main": [
        [
          {
            "node": "Supabase - Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Upsert Customer": {
      "main": [
        [
          {
            "node": "Supabase - Create Quotation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Quotation": {
      "main": [
        [
          {
            "node": "Supabase - Create Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Items": {
      "main": [
        [
          {
            "node": "Send Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Confirmation": {
      "main": [
        [
          {
            "node": "Queue for Review (RabbitMQ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e624a92-fc76-4802-94f7-e40e6ca761f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6adb643dd7d273b3a3c36a8c88a219f6c6362a719fc19640e0a85fd38028bd01"
  },
  "nodeGroups": [],
  "id": "1Sx9kzsEGtF1Cjil",
  "tags": [
    {
      "updatedAt": "2026-07-01T05:02:25.487Z",
      "createdAt": "2026-07-01T05:02:25.487Z",
      "id": "IpPB6dPB636yalG0",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2026-07-01T05:02:26.164Z",
      "createdAt": "2026-07-01T05:02:26.164Z",
      "id": "ld8RBU0L2fonYzMW",
      "name": "Quotation"
    },
    {
      "updatedAt": "2026-07-01T05:02:25.539Z",
      "createdAt": "2026-07-01T05:02:25.539Z",
      "id": "NfREv0ZJKg9tlvk7",
      "name": "WhatsApp"
    }
  ]
}