n8n-workflows/manual/01 - Client Inquiry AI Agent.json
{
  "name": "01 - Client Inquiry AI Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-inquiry",
        "options": {
          "rawBody": true
        }
      },
      "id": "bb9e8a6a-3043-4d19-ac71-8b4f87872986",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        192,
        -384
      ],
      "webhookId": "client-inquiry"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst rawMessage = input.body || input.message || input.text || input.content || '';\nconst senderName = input.sender_name || input.name || input.from || 'Unknown';\nconst senderContact = input.sender_contact || input.phone || input.email || '';\nconst channel = input.channel || input.source || 'whatsapp';\n\nconst now = new Date();\nconst dateStr = now.getFullYear()\n  + String(now.getMonth() + 1).padStart(2, '0')\n  + String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(Math.random() * 9000) + 1000);\nconst quoteNo = 'PW-' + dateStr + '-' + rand;\n\nconst promptText = `You are a smart quoting assistant for a printing/packaging company. Extract quotation details from this client inquiry. Return ONLY valid JSON with NO markdown formatting or code blocks.\n\n{\n  \"customer_name\": \"full name\",\n  \"customer_email\": \"email if found\",\n  \"customer_phone\": \"phone number\",\n  \"customer_address\": \"address if found\",\n  \"items\": [{\"item_title\": \"service name\", \"description\": \"details\", \"qty\": 1, \"unit_price\": 0}],\n  \"notes\": \"any special requests\",\n  \"type\": \"Quote\"\n}\n\nIf any field is missing, use \"\" or [] or 0. Do NOT guess prices.\n\nInquiry: ${rawMessage}\nFrom: ${senderName} (${senderContact})`;\n\nreturn [{\n  raw_message: rawMessage,\n  sender_name: senderName,\n  sender_contact: senderContact,\n  channel: channel,\n  quote_no: quoteNo,\n  issue_date: now.toISOString().slice(0, 10),\n  type: 'Quote',\n  status: 'Draft',\n  gemini_payload: {\n    contents: [{ role: 'user', parts: [{ text: promptText }] }]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -384
      ],
      "id": "9d186e1c-fc32-4b01-a3f4-f60261c7ce6f",
      "name": "Parse & Format Inquiry"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.geminiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        -384
      ],
      "id": "9cbfe915-4077-49e0-a2e5-ecfcb397feb8",
      "name": "Gemini - Extract Quote Details",
      "credentials": {
        "httpBasicAuth": {
          "id": "QMTnQiLPed7nOCsd",
          "name": "n8n-elena"
        },
        "httpCustomAuth": {
          "id": "klQsrETMfRepBxr8",
          "name": "Custom Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse & Format Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Format Inquiry": {
      "main": [
        [
          {
            "node": "Gemini - Extract Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0c8f9441-a03e-4785-8b53-237ab8063aa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6adb643dd7d273b3a3c36a8c88a219f6c6362a719fc19640e0a85fd38028bd01"
  },
  "nodeGroups": [],
  "id": "1Sx9kzsEGtF1Cjil",
  "tags": [
    {
      "updatedAt": "2026-07-01T05:02:25.487Z",
      "createdAt": "2026-07-01T05:02:25.487Z",
      "id": "IpPB6dPB636yalG0",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2026-07-01T05:02:26.164Z",
      "createdAt": "2026-07-01T05:02:26.164Z",
      "id": "ld8RBU0L2fonYzMW",
      "name": "Quotation"
    },
    {
      "updatedAt": "2026-07-01T05:02:25.539Z",
      "createdAt": "2026-07-01T05:02:25.539Z",
      "id": "NfREv0ZJKg9tlvk7",
      "name": "WhatsApp"
    }
  ]
}